@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #023e8a; 
    transition: width 0.3s;
  }
  
  .menu-link:hover::after {
    width: 100%;
  }
  
  .custom-bg-color {
    background-color: #fff; 
  }
  
  .sizelogo {
    height: 130px;
  }

  .menuboton {
    color: #0077b6;
    font-weight: bold;
    font-size: 18px;

  }

  .fonttext {
    font-size: 20px;
  }
